*{
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

.app{
    height: auto;
    display: flex;
    padding: 2em;
}

.perfiles{
    width: 70%;
    flex-basis: 70%;
   // background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    &__contenedor{
        width: 30%;
        height: 15em;
        background-color: coral;
        margin: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border: 4px solid crimson;
        background-size: cover;
        background-position: center;
    }

    &__texto{
        background-color: rgba(0, 0, 0, 0.329);
        padding: 1em;
        text-align: center;
    }
}

.opciones{
    width: 30%;
    flex-basis: 30%;
   // background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;

    &__item{
        width: 50%;
        margin: 1em 0;
    }
}

.selector{
    background-color: rgb(128,128,128);
    height: 0.8em;
}

button {
    height: 2em;
}

.nombre, .url{
    height: 2.5em;
}